# Bin the series ser into 10 equal deciles and replace the values with the bin name
Input: ser = pd.Series(np.random.random(20))

In [10]:
import pandas as pd
import numpy as np

In [13]:
np.random.seed(64)
ser = pd.Series(np.random.random(20))
ser

0     0.379099
1     0.567098
2     0.595593
3     0.449859
4     0.457020
5     0.311651
6     0.313337
7     0.294859
8     0.530772
9     0.396222
10    0.718750
11    0.548092
12    0.582075
13    0.167651
14    0.029277
15    0.208742
16    0.022575
17    0.634674
18    0.224442
19    0.398310
dtype: float64

In [14]:
pd.qcut(ser, q=[0, .10, .20, .3, .4, .5, .6, .7, .8, .9, 1], 
        labels=['1st', '2nd', '3rd', '4th', '5th', '6th', '7th', '8th', '9th', '10th'])

0      5th
1      8th
2      9th
3      6th
4      7th
5      4th
6      4th
7      3rd
8      7th
9      5th
10    10th
11     8th
12     9th
13     2nd
14     1st
15     2nd
16     1st
17    10th
18     3rd
19     6th
dtype: category
Categories (10, object): ['1st' < '2nd' < '3rd' < '4th' ... '7th' < '8th' < '9th' < '10th']