# Reshape the series ser into a dataframe with 7 rows and 5 columns
Input:
* ser = pd.Series(np.random.randint(1, 10, 35))

In [1]:
import pandas as pd
import numpy as np

In [4]:
ser = pd.Series(np.random.randint(1, 10, 35))
ser

0     8
1     1
2     3
3     3
4     8
5     1
6     5
7     1
8     4
9     9
10    5
11    2
12    5
13    1
14    5
15    4
16    1
17    3
18    2
19    6
20    7
21    1
22    2
23    9
24    3
25    3
26    7
27    7
28    8
29    7
30    4
31    8
32    6
33    3
34    9
dtype: int32

In [7]:
df = pd.DataFrame(ser.values.reshape(7, 5))
df

   0  1  2  3  4
0  8  1  3  3  8
1  1  5  1  4  9
2  5  2  5  1  5
3  4  1  3  2  6
4  7  1  2  9  3
5  3  7  7  8  7
6  4  8  6  3  9