# Convert the series ser into a dataframe with its index as another column on the dataframe.
Input
* mylist = list('abcedfghijklmnopqrstuvwxyz')
* myarr = np.arange(26)
* mydict = dict(zip(mylist, myarr))
* ser = pd.Series(mydict)

In [14]:
import pandas as pd
import numpy as np

mylist = list('abcedfghijklmnopqrstuvwxyz')
myarr = np.arange(26)
mydict = dict(zip(mylist, myarr))

ser = pd.Series(mydict)
df = ser.to_frame().reset_index()
df.head()

  index  0
0     a  0
1     b  1
2     c  2
3     e  3
4     d  4