# Combine ser1 and ser2 to form a dataframe
Input:
* ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
* ser2 = pd.Series(np.arange(26))

In [8]:
import numpy as np
import pandas as pd

ser1 = pd.Series(list('abcedfghijklmnopqrstuvwxyz'))
ser2 = pd.Series(np.arange(26))

# Solution 1
df = pd.DataFrame({'col1': ser1, 'col2': ser2})
df.head()

# Solution 2
df = pd.concat([ser1, ser2], axis=1)
df.head()

   0  1
0  a  0
1  b  1
2  c  2
3  e  3
4  d  4